{% extends "app_wrapper.html" %}

{% block body %}

    <div class="row">
        {% if is_own_posts %}
        <div class="col-sm-12 post-border">
            <form action="/flitter/post/put" method="post">
                <div class="col-sm-10">
                    <textarea rows="2" cols="50" id="post_content" name="post_content" maxlength="200" class="form-control">
                    </textarea>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Post" class="btn-primary btn-md btn-block">
                </div>
            </form>
        </div>
        {% endif %}
        {% for post in posts %}
            <div class="col-sm-12 post-border">
                <div class="col-sm-2">
                    <strong>@{{ post[2] }}</strong>
                    <br>
                    <small>{{ post[1] }}</small>
                </div>
                <div class="col-sm-10">
                    <p class="text-left">{{ post[0] }}</p>
                </div>
            </div>
        {% else %}
            <em>There's no posts so far.</em>
        {% endfor %}
    </div>
{% endblock %}